{% include "header.html" %}

<section class="about-section">
    <div class="about-container">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci expedita error necessitatibus earum suscipit eveniet praesentium neque laudantium distinctio eum ipsam, soluta, nisi, qui maiores cupiditate ex quam cumque! Rerum.lorem
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat similique reprehenderit nihil amet deleniti? Ex, similique quos dignissimos, neque, dolorum ullam alias natus pariatur aliquid delectus cumque repudiandae eos et.
        </p>
    </div>
</section>

{% include "footer.html" %}