{% include "header.html" %}

    {% include "moreitem.html" %}

    <!-- Main content -->
    <main class="main-grid">
        
        {% include "leftcontent.html" %}

        <div class="main-right-part" style="padding-left: 30px; padding-bottom:23px">
            <h3 style="margin-top:28px">Introduction</h3>
            <h2>A-Automation: Your One-Stop Solution for Online Automation</h2>
            <p>
                In today's digital age, efficiency and 
                automation are key. Introducing A-Automation,
                 a platform designed to streamline your online tasks 
                 and save you valuable time. Our website offers a range of 
                 powerful bots built on the robust Selenium framework, enabling 
                 you to automate repetitive actions across various platforms.
            </p>
            <p>
                From growing your Instagram following to optimizing your dating profile,
                 A-Automation provides user-friendly tools to simplify complex processes. 
                 By completing simple forms with essential information, 
                 you can effortlessly deploy bots tailored to your specific needs.
            </p>

            <h3>How to use?</h3>
            <p>
                Well, It's quite simple to use our automation tool. 
                You only need to follow 3 steps to automate your work.
            </p>
            <div class="right-part-items">
                <ul>
                    <li>
                        Select any one Automation bot from the left panel. Which will render you
                        to corresponding bot page.
                    </li>
                    <li>
                        Fill the form correctly. Don't forgot to double check the entered credentials.
                    </li>
                    <li>
                        Submit the form
                    </li>
                </ul>
            </div>

            <h3>A-Automation Aims To</h3>
            
            <div class="right-part-items">
                <ul class="items">
                    <li>Provide a user-friendly platform: Develop an intuitive interface that 
                        allows users with minimal technical knowledge to create and manage automation bots.
                    </li>
                    <li>Offer a diverse range of automation tools: Create a comprehensive suite 
                        of bots covering popular platforms and tasks, such as Instagram, Tinder, and complaint management.
                    </li>
                    <li>Ensure data privacy and security: Implement robust security measures 
                        to protect user data and comply with relevant privacy regulations.
                    </li>
                    <li>Deliver exceptional customer support: Provide timely and effective 
                        assistance to users through various channels.
                    </li>
                    <li>Continuously improve and expand: Regularly update and enhance the platform 
                        with new features, bots, and performance optimizations.
                    </li>
                </ul>
            </div>

        </div> 
    </main>

{% include "footer.html" %}